<div class="panel panel-default">
  <div class="panel-heading">Statistics</div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">General</a></li>
    <!-- <li><a href="#">Satisfaction Time Series</a></li> -->
  </ul>
  <div class="panel-body">
    <canvas id="stats-canvas"></canvas>
  </div>
</div>