<h2>Courses/Reviews:</h2>
<table>
{{#each profile.course_reviews}}
  {{> review_thumbnail review=this }}
{{/each}}
</table>
<br>
<a href="/profile/review" id="add-review" class="btn btn-default">Add/Review Course:</a>