<h1>EasyPick</h1>
<div id="error"></div>
<form id="login-form">
  <div class="form-group">
    <label for="email-input">MIT email</label>
    <input type="text" class="form-control" id="email"
    name="email" placeholder="">
    <label for="password-input">Password</label>
    <input type="password" class="form-control" id="password"
    name="password" placeholder="">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <button class="btn btn-primary" id="form-signup">Sign up</button>
</form>