<img src="/resources/logo.png" class="logo" alt="EasyPick">
<h1 id="title">EasyPick</h1>
<div id="error"></div>
<div id="msg-box"></div>
<form id="login-form">
  <div class="form-group">
    <!--<label for="email-input">MIT email</label>-->
    <input type="text" class="text-input login-input" id="email"
    name="email" placeholder="MIT Email">
    <!--<label for="password-input">Password</label>-->
    <input type="password" class="text-input login-input" id="password"
    name="password" placeholder="Password">
  </div>
  <div id="buttons">
    <button type="submit" class="button form-button">Login</button>
    <button class="button form-button" id="form-signup">Sign up</button>
  </div>
</form>