<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href='/'>EasyPick</a>
    </div>
    <ul class="nav navbar-nav">
      <li id='search'><a href='/search'>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </a></li>
      <li id='home'><a href='/profile'>
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </a></li>
      <li id='recommendations'><a href='/recommendations'>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right  ">
      <li>
        <button type="button" id="navbar-logout">Logout</button>
        </li>
    </ul>
  </div>
</nav>

<script src="/js/logout.js"></script>
