<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href='/'>EasyPick</a>
    </div>
    <ul class="nav navbar-nav">
      <li id='search'><a href='#search'>Search</a></li>
      <li id='recommendation'><a href='#recs'>Rec's</a></li>
    </ul>
  </div>
</nav>
