<h1>Course Review Form</h1>
<div class="course-search">
  <input type="text" id="course-num" placeholder="Course Number (e.g. 6.170)">
  <button id="find-course" class="search-btn glyphicon glyphicon-search" aria-hidden="true"></button>
</div>
<div id="selected-course"><span class="bold-text">Selected Course:&nbsp;</span><span class="course-text">None</span></div>
<div id="form-info">
  <p>Please answer a few questions about this class:</p>
  <table>
    <tr>
      <td>
        <select id="term" class="review_select">
          <option value="" disabled selected>Term taken</option>
          <option value="0">IAP</option>
          <option value="1">Spring</option>
          <option value="2">Summer</option>
          <option value="3">Fall</option>
        </select>
      </td>
      <td>
        <select id="year" class="review_select">
          <option value="" disabled selected>Year taken</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Class Hours:&nbsp;</td>
      <td><input type="range" class="review_slider" id="class_hrs" min=1 max=7 step=1></td>
    </tr>
    <tr>
      <td>Outside Hours:&nbsp;</td>
      <td><input type="range" class="review_slider" id="outside_hrs" min=1 max=7 step=1></td>
    </tr>
    <tr>
      <td>Content Difficulty:&nbsp;</td>
      <td><input type="range" class="review_slider" id="content_difficulty" min=1 max=7 step=1></td>
    </tr>
    <tr>
      <td>Grading Difficulty:&nbsp;</td>
      <td><input type="range" class="review_slider" id="grading_difficulty" min=1 max=7 step=1></td>
    </tr>
    <tr>
      <td>Overall Satisfaction:&nbsp;</td>
      <td><input type="range" class="review_slider" id="overall_satisfaction" min=1 max=7 step=1></td>
    </tr>
  </table>
  <div class="review_comment">
    <textarea id='comment' placeholder='Comment (Optional)'></textarea>
  </div>
  <button id="submit-review">Review Course</button>
</div>