<h1>Course Review Form</h1>
<table>
<tr>
  <th>Course # Search: </th>
  <td><input type="text" id="course-num"></td>
</tr>
</table>
<button id="find-course" class="btn btn-default">Find Course</button>
<br><br>
<div id="selected-course"><b>Course Selected:</b> None</div>
<h5>Please answer some questions about the taking the class.</h5>
<table>
<tr>
  <td>Spring/Fall/Summer/IAP?</td>
  <td><input type="text" id="term"></td>
</tr>
<tr>
  <td>Year?</td>
  <td><input type="text" id="year"></td>
</tr>
<tr>
  <td>Class Hours? (1-7)</td>
  <td><input type="text" id="class_hrs"></td>
</tr>
<tr>
  <td>Outside Hours? (1-7)</td>
  <td><input type="text" id="outside_hrs"></td>
</tr>
<tr>
  <td>Content Difficulty? (1-7)</td>
  <td><input type="text" id="content_difficulty"></td>
</tr>
<tr>
  <td>Grading Difficulty? (1-7)</td>
  <td><input type="text" id="grading_difficulty"></td>
</tr>
<tr>
  <td>Overall Satisfaction? (1-7)</td>
  <td><input type="text" id="overall_satisfaction"></td>
</tr>
</table>
<button id="submit-review" class="btn btn-default">Review Course</button>
