<h1>Course Review Form</h1>
<h3>Course #</h3>
<input type="text" id="course-num"><br>
<button id="find-course" class="btn btn-default">Find Course</button>
<br><br>
<h5>Please answer some questions about the taking the class.</h5>
Spring/Fall/Summer/IAP?
<input type="text" id="term">
<br>
Year?
<input type="text" id="year">
<br>
Class hours? (1-7)
<input type="text" id="class_hrs">
<br>
Outside hours? (1-7)
<input type="text" id="outside_hrs">
<br>
Content difficulty? (1-7)
<input type="text" id="content_difficulty">
<br>
Grading difficulty? (1-7)
<input type="text" id="grading_difficulty">
<br>
Overall satisfaction? (1-7)
<input type="text" id="overall_satisfaction">
<br>
<button id="submit-review" class="btn btn-default">Review Course</button>
