<!-- Authored by Famien Koko -->

<!DOCTYPE html>
<html>
{{> head}}
<body>
{{> navbar}}
<form>
    <div class="form-group">
        <label for="search">Course Number</label>
        <select id="course-number-select">
            <option value="6">6</option>
            <option value="9">9</option>
            <option value="12">12</option>
            <option value="18">18</option>
        </select>
    </div>
    <div class="form-group">
        <label for="units">Units</label>
        <select id="units-select">
            <option value="6">6</option>
            <option value="9">9</option>
            <option value="12">12</option>
            <option value="18">18</option>
        </select></div>
    <div class="form-group">
        <label for="department">Department</label>
        <select id="department-select">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <label for="filters-div"> Filters</label>
    <div class="checkbox">
        <label>
            <input type="checkbox" id = "hass-input"> HASS
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id = 'cih-input'> CI-H
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id='cihw-input'> CI-HW
        </label>
    </div>
    <button type="submit" class="btn btn-default" id="search-submit">Submit</button>
</form>
</body>
</html>
